<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutLivraison.php">
<table>
<caption>Ajouter Employe</caption>
<tr>
<td>id</td>
<td><input type="number" name="id"></td>
</tr>
<tr>
<td>Nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>methode</td>
<td><input type="text" name="methode"></td>
</tr>
<tr>
<td>adresse</td>
<td><input type="text" name="adresse"></td>
</tr>
<tr>
<td>date</td>
<td><input type="date" name="dateLivraison"></td>
</tr>
<tr>
<td>numero commande</td>
<td><input type="number" name="numeroCommande"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>